<p><img id="extractionImage" width="200" /></p>
<div class="extractionImage__data-wrapper">
  <div class="extractionImage__data-item">
    <div class="data-item__title">Diameter:</div>
    <div class="data-item__value">99</div>
  </div>
  <div class="extractionImage__data-item">
    <div class="data-item__title">Fresh weight shoot:</div>
    <div class="data-item__value">99</div>
  </div>
  <div class="extractionImage__data-item">
    <div class="data-item__title">Leaf area:</div>
    <div class="data-item__value">99</div>
  </div>
  <div class="extractionImage__data-item">
    <div class="data-item__title">Dry weight shoot:</div>
    <div class="data-item__value">99</div>
  </div>
  <div class="extractionImage__data-item">
    <div class="data-item__title">Leaf area:</div>
    <div class="data-item__value">99</div>
  </div>
</div>
