<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantgroei UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>

  <body>
    <div id="content-wrapper">
      <h1>Data extraction</h1>
      <p><img id="outputRGB" width="200" /></p>
      <p><img id="outputDepth" width="200" /></p>


      <form action="{{ url_for('predict_harvest') }}" enctype=multipart/form-data method="post">
        <div class="extraction__content">
          <div class="extractionImage__data-wrapper">
            <div class="extractionImage__data-item">
              <div class="data-item__title">Diameter:</div>
              <div class="data-item__value">
                <input class="data-item__input" name="Diameter" value="{{ result_plant.diameter }}"></div>
            </div>
            <div class="extractionImage__data-item">
              <div class="data-item__title">Fresh weight shoot:</div>
              <div class="data-item__value">
                <input class="data-item__input" name="FreshWeightShoot" value="{{ result_plant.freshweight }}"></div>
            </div>
            <div class="extractionImage__data-item">
              <div class="data-item__title">Dry weight shoot:</div>
              <div class="data-item__value">
                <input class="data-item__input" name="DryWeightShoot" value="{{ result_plant.dryweight }}"></div>
            </div>
            <div class="extractionImage__data-item">
              <div class="data-item__title">Leaf area:</div>
              <div class="data-item__value">
                <input class="data-item__input" name="LeafArea" value="{{ result_plant.leaf_area }}"></div>
            </div>
            <div class="extractionImage__data-item">
              <div class="data-item__title">Height:</div>
              <div class="data-item__value">
                <input class="data-item__input" name="Height" value="{{ result_plant.height }}"></div>
            </div>
          </div>

          <select name="variety" class="extraction__dropdown" required>
            <option value="">Select variety</option>
            <option>All varieties</option>
            <option value="Satine">Satine</option>
            <option value="Salanova">Salanova</option>
            <option value="Aphylion">Aphylion</option>
            <option value="Lugano">Lugano</option>
          </select>

          <label class="custom-file-upload custom-file-upload__submit">
            <input type="submit" />
              Show result
          </label>
      </div>
      </form>

    </div>
  </body>

  <script src="../static/js/app.js"></script>
</html>
