<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantgroei UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/414b5ede38.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>

  <body>
    <div id="content-wrapper">
      <div class="faq">
        <h1>FAQ</h1>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          vitae aliquet sapien, vel pulvinar ligula. Nulla facilisi. Integer
          dapibus et eros non tempus. Vivamus consequat ullamcorper sodales.
          Vestibulum eget semper ex. Aenean lacinia nunc est, at mollis velit
          volutpat ultricies. Aliquam consectetur est nibh, ut rutrum odio
          gravida at. In hac habitasse platea dictumst. Etiam tincidunt nisi
          neque, imperdiet mollis urna pretium id. Praesent eu finibus velit.
          Nulla ut ante ligula. Maecenas a ex ut dui auctor venenatis. Praesent
          fermentum odio sem, a blandit metus efficitur in. Sed ac lectus vel
          diam lobortis pretium.
        </p>
        <div class="faq__holder">
          <details class="faq__detail">
            <summary class="faq__summary">
              <span class="faq__question">Lorem ipsum?</span>
            </summary>

            <p class="faq__text">
              Dolor sit amet, consectetur adipiscing elit. Suspendisse vitae
              aliquet sapien, vel pulvinar ligula. Nulla facilisi. Integer
              dapibus et eros non tempus. Vivamus consequat ullamcorper sodales.
              Vestibulum eget semper ex. Aenean lacinia nunc est, at mollis
              velit volutpat ultricies. Aliquam consectetur est nibh, ut rutrum
              odio gravida at. In hac habitasse platea dictumst.
            </p>
          </details>

          <details class="faq__detail">
            <summary class="faq__summary">
              <span class="faq__question">Lorem ipsum?</span>
            </summary>
            <p class="faq__text">
              Dolor sit amet, consectetur adipiscing elit. Suspendisse vitae
              aliquet sapien, vel pulvinar ligula. Nulla facilisi. Integer
              dapibus et eros non tempus. Vivamus consequat ullamcorper sodales.
              Vestibulum eget semper ex. Aenean lacinia nunc est, at mollis
              velit volutpat ultricies. Aliquam consectetur est nibh, ut rutrum
              odio gravida at. In hac habitasse platea dictumst.
            </p>
          </details>
        </div>
      </div>
    </div>
  </body>

  <script src="../static/js/app.js"></script>
</html>
