<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantgroei UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
  {% if
    not fresh_weight_loaded
    or not diameter_loaded
    or not height_loaded
    or not leaf_area_loaded
    or not dry_weight_loaded
    or not harvest_loaded
    or not harvest_wo_variety_loaded
  %}
    <div class="model-warning">The models are currently being loaded please wait</div>
  {% endif %}
    <div id="loader" class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div id="content-wrapper">
      <h1 id="home-page">Home</h1>
      <p><img id="outputRGB" width="200" /></p>
      <p><img id="outputDepth" width="200" /></p>
        <div class="home__wrapper">
          <form class="home__form" action="{{ url_for('predict_image') }}" enctype=multipart/form-data method="post">
            <div class="home__form-row">
              <label class="custom-file-upload">
              <input
                type="file"
                accept="image/*"
                onchange="handleFileUpload(event, 'rgbFile', 'rgb', 'outputRGB')"
                name="rgb"
                required
                id="rgbInput"
              />
              Choose RGB image
              </label>
              <label class="custom-file-upload">
                <input
                  type="file"
                  accept="image/*"
                  onchange="handleFileUpload(event, 'depthFile', 'depth', 'outputDepth')"
                  name="depth"
                  required
                  id="depthInput"
                />
                Choose Depth image
              </label>
            </div>
            <div class="home__form-row">
              <label class="custom-file-upload__submit custom-file-upload">
                <input type="submit" onclick="showLoader()"/>
                Extract features
              </label>
            </div>
          </form>
        </div>
    </div>
  </body>

  <script src="../static/js/app.js"></script>
</html>
