<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantgroei UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>

  <body>
    <div id="content-wrapper">
      <p><img id="output" width="200" /></p>
      <div id="root"></div>
    </div>
  </body>

  <footer>
    <button type="button" id="extraction-button">Extraction</button>
    <button type="button" id="home-button">Home</button>
    <button type="button" id="result-button">Result</button>
  </footer>

  <script src="../static/js/app.js"></script>
</html>
