:root {
    --light-green: #4BA064;
    --dark-green: #033323;
    /* --faded-green: #6B8D81; */
    --faded-green: #A8BDB5;
    --alert-red: #FF5E5E;
    --dark-yellow: #D4A936;
    --yellow: #F7C500;
    --grey: #F3F1EF;
}

h1 {
    margin: 0;
    color: var(--dark-green);
}

.loader {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.fa-circle-question {
    transition-duration: 300ms;
    color: var(--dark-green);
    opacity: 0.5;
}

.fa-circle-question:hover {
    opacity: 1;
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .top {
    min-width:250px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.extraction__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extractionImage__data-item {
    display: flex;
    justify-content: space-between;
    color: var(--dark-green);
    padding: 6px;
    border-radius: 4px;
}

.extractionImage__data-wrapper {
    margin-bottom: 12px;
}

.extractionImage__data-item:nth-child(odd) {
    background-color: var(--faded-green);
}

.extraction__dropdown {
    margin-bottom: 12px;
}

.data-item__value {
    padding-left: 12px;
}

.data-item__input {
    border-radius: 4px;
    max-width: 80px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

button, .custom-file-upload, select {
    display: flex;
    transition: all;
    transition-duration: 300ms;
    background-color: var(--dark-green);
    font-size: large;
    color: white;
    padding: 12px 18px;
    border-radius: 4px;
    border: none;
}

select {
    background: white;
    color: var(--dark-green);
    border-color: var(--dark-green);
    border-width: 2px;
}

#content-wrapper {
    margin: 8px;
}

button:hover, .custom-file-upload:hover {
    color: var(--faded-green);
    cursor: pointer;
}

input[type="submit"], input[type="file"] {
    display: none;
}

form:invalid .custom-file-upload__submit {
  opacity: 0.3;
  pointer-events: none;
}

img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: auto;
}

.home__wrapper {
    display: flex;
    justify-content: center;
}

.home__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.home__form-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.result__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-green);
    background-color: var(--faded-green);
    margin-bottom: 12px;
    padding: 6px;
    border-radius: 4px;
}

.result__nav-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.result__form {
    display: flex;
    justify-content: center;
}

#content-wrapper {
    padding: 12px;
    border-radius: 12px;
    min-width: 320px;
    background-color: var(--grey);
}

footer {
    position: absolute;
    bottom: 0;
}

.model-warning {
    background-color: var(--alert-red);
    color: white;
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}